body {
    font-family: Verdana;
    color: #5E666B;
}

.goToForm-button {
    float: right;
    position: relative;
    top: -20px;
    left: -30px;
    background-color: #7AB800;
    border-radius: 3px;
}

.form-link {
    text-decoration: none;
    color: white;
    width: 100%;
}

.form-link:hover {
    color: #5E666B;
}

/* Sections style */
.section-title {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    font-weight: 300;
    color: white;
}

#table-section {
    background-image: url("./images/back-top-what.svg");
    background-size: cover;
    background-repeat: no-repeat;
}

#form-section {
    background-image: url("./images/back-with.svg");
    background-size: contain;
    background-repeat: no-repeat;
}

/* Table style */
.dataTable {
    background-color: #5E666B;
    border: 2px solid #5E666B !important;
    border-radius: 3px;
}

.dataTables_wrapper{
   margin-left: 2%;
   margin-right: 2%;
   margin-top: 2%;
   margin-left: 2%;
   max-width: fit-content;
}

.dataTables_length {
    margin-bottom: 20px;
    padding: 8px;
    background-color: #5E666B;
    color: white !important;
    border-radius: 3px;
}

.dataTables_wrapper .dataTables_length select {
    background-color: white;
    border: none;
    text-align: center;
}

.dataTables_wrapper .dataTables_filter {
    float: right;
    text-align: right;
    background-color: #5E666B;
    padding: 8px;
    color: white;
    border-radius: 3px;
}

.dataTables_wrapper .dataTables_filter input {
    border: none;
    border-radius: 3px;
    padding: 5px;
    background-color: white;
    width: 150px;
    height: 30px;
    margin-left: 5px;
}

table.dataTable thead th, table.dataTable thead td {
    padding: 10px 18px;
    border-bottom: none;
    font-weight: lighter !important;
    color: white;
}

/* Table input fields style */
#address-col, #number-col, #fax-col, #e-col {
    width: 200px !important;
}

#city-col {
    width: 150px;
}

#pc-col, #actions-col {
    width: 60px;
}

.dataTables_info {
    color: #5E666B !important;
}

/* Prev and Next button style */
.dataTables_paginate {
    margin-top: 10px !important;
}

/* Table buttons style */
.edit-button {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 8px;
    border: none;
    border-radius: 3px;
    background-color: #008B95;
    color: white;
}

.remove-button {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 8px;
    border: none;
    border-radius: 3px;
    background-color: #db1f12;
    color: white;
}

.update-button {
    width: 80px;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 8px;
    border: none;
    border-radius: 3px;
    font-size: 14px;
    background-color: #7AB800;
    color: white;
}

/* Form style */
.row {
    padding: 10px;
    box-sizing: border-box;
}

#update-form {
    margin-top: 50px;
    border-radius: 3px;
    padding: 20px;
    background-color: #5E666B;
    opacity: 0.7;
    color: white;
}

.h-form {
    padding: 20px;
    font-size: 22px;
}

.add-button {
    margin-top: 20px;
    margin-bottom: 10px;
    width: 40%;
    background-color: #008B95;
    color: white;
}

/* Form Media Queries */
@media screen and (min-width: 1200px) {
    #update-form {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 800px) {
    .goToForm-button {
        float: none;
        position: relative;
        left: 10px;
    }

    .dataTables_wrapper .dataTables_filter {
        float: none;
        text-align: center;
        margin-bottom: 10px;
    }

    #form-section {
        background-size: auto;
    }

    #update-form {
        width: 80%;
        margin-bottom: 20px;
        font-size: 14px;
    }

    .h-form {
        font-size: 16px;
    }

    .add-button {
        width: 150px;
        height: 50px;
        font-size: 14px;
    }
}